<!-- 
Name: Dipeshpuri Goswami
Id: 300984229 
Date 16, Feb 2019 
-->

<% include ../partials/header.ejs %>

<!-- Content Start -->
<div class="wrapper project">
  <div class="jumbotron jumbotron-fluid">
    <div class="main">
      <h1 class="display-5">Projects, I Have Done</h1>
      <!-- Row 1 Start -->
      <div class="row">
        <div class="col-md-6">
          <div class="card">
            <h5 class="card-header">Web Development</h5>
            <div class="card-body">
              <p class="card-text">
                  <img src="Assests/portfolio/jb_thumnil_1.png" alt="">
                  <h5 class="card-title">JB Plate Depo</h5>
               Online Construction Plate Rent & sell website with payment Integration and real time chat bot.
              </p>
              <a href="projects/jbplatedepo" class="btn btn-primary">Learn More About it</a>
            </div>
          </div>
        </div>

        <div class="col-md-6">
                <div class="card">
                  <h5 class="card-header">Web Application Development</h5>
                  <div class="card-body">
                    <p class="card-text">
                        <img src="Assests/portfolio/razoo.png" alt="">
                        <h5 class="card-title">mightycause</h5>
                        mightycause is the online fundraising software for empowering nonprofits, people, and the causes they believe in.
                    </p>
                    <a href="projects/mightycause" class="btn btn-primary">Learn More About it</a>
                  </div>
                </div>
              </div>
      </div>
      <!-- Row 1 End -->
    </div>
  </div>
</div>
<!-- Content End -->

<% include ../partials/footer.ejs %>
