<!-- 
Name: Dipeshpuri Goswami
Id: 300984229 
Date 16, Feb 2019 
-->

<% include ../partials/header.ejs %>

<!-- Content Start -->
<div class="wrapper project">
  <div class="jumbotron jumbotron-fluid">
    <div class="main">
      <h1 class="display-5"><%= title%></h1>
      <a href="../projects" class="btn btn-primary backToProject"
        >Back To Project</a
      >
      <!-- Row 1 Start -->
      <div class="row">
        <div class="col-md-8">
          <img src="../Assests/portfolio/razoo-full.png" alt="" />
        </div>
        <div class="col-md-4">
          <h4><U>Technology Used</U></h4>

          <h5>Front-End Technologies</h5>
          <ul>
            <li>AngularJS</li>
            <li>HTML5</li>
            <li>CSS3</li>
            <li>Bootstrap 3</li>
            <li>Javascript</li>
          </ul>

          <h5>Back-End Technologies</h5>
          <ul>
            <li>Firebase</li>
            <li>OAuth 2</li>
          </ul>

          <h5>Other Technologies</h5>
          <ul>
            <li>Stripe Payment Gateway</li>
            <li>SMS Service</li>
            <li>E-mail Service</li>
          </ul>
          <h5>Project Management Technologies</h5>
          <ul>
            <li>GitHub</li>
            <li>Trello</li>
            <li>Slack</li>
          </ul>
        </div>
      </div>
      <!-- Row 1 End -->
    </div>
  </div>
</div>
<!-- Content End -->

<% include ../partials/footer.ejs %>
