.form-group input {
    height: auto;
    border-radius: 2rem;
    line-height: 2;
}

.form-group .btn {
    font-size: 80%;
    border-radius: 5rem;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    transition: all 0.2s;
    margin-bottom: 10px;
}
/* body{
  background: #007bff;
  background: linear-gradient(to right, #0062E6, #33AEFF);
} */