<!-- 
Name: Dipeshpuri Goswami
Id: 300984229 
Date 16, Feb 2019 
-->

<% include ./partials/header.ejs %>

<!-- Content Start -->
<div class="wrapper">
  <div class="jumbotron jumbotron-fluid">
    <div class="main">
      <h1 class="display-5">About me,</h1>
      <div class="row">
        <div class="col-md-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Dipesh Goswami</h5>
              <p>
                I am currently enrolled in the Advanced Software Engineering
                Technology program at Centennial College and also has earned a
                <strong> Master Degree </strong> in computer application from
                Pune University in India. <br />
                I am an engineer and a
                <strong>front-end development</strong> specialist with an eye
                for aesthetic detail. <br />
                I recently started working as a
                <strong>Student Researcher</strong> at Centennial College. I
                worked on multiple projects at
                <a href="https://wimtach.centennialcollege.ca/student-dipesh/"
                  ><b>WIMTACH</b></a
                >
                such as <strong>Winters Tools-To-Go</strong>,<strong
                  >BlueSalt Media</strong
                >
                and <strong>CareerBuddy</strong> in which he participated in the
                <strong
                  >user interface (UI) implementation, database designing, web
                  services, and front-end functionality designing</strong
                >.
              </p>
              <br />
              <h3>My Skills</h3>
              <ul>
                <li>Angular 6, Java and PHP</li>
                <li>Ionic Framework</li>
                <li>Javascript/Jquery</li>
                <li>HTML, CSS / Bootstrap</li>
                <li>MySql,Firebase and Oracle</li>
              </ul>
              <br>
              <p>
              
              <a href="../Assests/resume.docx" download><h2>HIRE ME..</h2></a>
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <img
            src="../Assests/profile-picture.JPG"
            alt="Dipeshpuri Goswami"
            width="100%"
            height="100%"
          />
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Content End -->

<% include ./partials/footer.ejs %>
