<!-- 
Name: Dipeshpuri Goswami
Id: 300984229 
Date 16, Feb 2019 
-->

<% include ./partials/header.ejs %>

<!-- Content Start -->
<div class="wrapper">
  <div class="jumbotron jumbotron-fluid">
    <div class="main">
      <h1 class="display-5">Services, I Provide</h1>
      <!-- Row 1 Start -->
      <div class="row">
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <i class="fa fa-globe"></i>
              <div class="service-info">
                <h5>Web Developmenst</h5>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <i class="fas fa-mobile-alt"></i>
              <div class="service-info">
                <h5>Cross-platform Development</h5>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <i class="fab fa-aws"></i>
              <div class="service-info">
                <h5>Cloud computing</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Row 1 End -->
      <br />
      <!-- Row 2 Start -->
      <div class="row">
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <i class="fa fa-search-plus"></i>
              <div class="service-info">
                <h5>Search Engine Optimization</h5>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <i class="fas fa-cubes"></i>
              <div class="service-info">
                <h5>MEAN-Stack Developer</h5>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <i class="fas fa-database"></i>
              <div class="service-info">
                <h5>Database Designing</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Row 2 End -->
      <br />
      <!-- Row 3 Start -->
      <div class="row">
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <i class="fab fa-angular"></i>
              <div class="service-info">
                <h5>Angular Developer</h5>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <i class="fa fa-flask"></i>
              <div class="service-info">
                <h5>Customization</h5>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <i class="fab fa-php"></i>
              <div class="service-info">
                <h5>PHP Developer</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Row 3 End -->
    </div>
  </div>
</div>
<!-- Content End -->

<% include ./partials/footer.ejs %>
