.page_titile{
    padding-top: 5px;
    text-align: center;
}
.special-card{
    background-color: rgba(245, 245, 245, 1);
    opacity: .4;
}
.card-body a{
width: 45%;
margin-right: 10px;
}
.delete{
    width: 95%;
}
.active{
    background-color: aqua;
    text-align: right;
}
.dot {
    height: 20px;
    width: 20px;
    background-color: #29a645;
    border-radius: 50%;
    display: inline-block;
    float: right;
  }