<!-- Content Start -->
<div class="wrapper">
  <div class="jumbotron jumbotron-fluid">
      <div class="row">
        <div class="col-md-4 col-xs-12">
            <div class="card ">
                <div class="card-header">
                  Featured
                </div>
                <div class="card-body">
                  <h5 class="card-title">Centennial College</h5>
                  <p class="card-text">SETAS - Information and Communication Engineering Technology- ICET</p>
                  <a href="#" class="btn btn-primary">Take The Survey</a>
                </div>
                <div class="card-footer text-muted">
                  2 days ago
                </div>
              </div>
        </div>
        <div class="col-md-4 col-xs-12">
            <div class="card ">
                <div class="card-header">
                  Featured
                </div>
                <div class="card-body">
                    <h5 class="card-title">Centennial College</h5>
                    <p class="card-text">SETAS - Information and Communication Engineering Technology- ICET</p>
                    <a href="#" class="btn btn-primary">Take The Survey</a>
                  </div>
                <div class="card-footer text-muted">
                  2 days ago
                </div>
              </div>
        </div>
        <div class="col-md-4 col-xs-12">
            <div class="card ">
                <div class="card-header">
                  Featured
                </div>
                <div class="card-body">
                    <h5 class="card-title">Centennial College</h5>
                    <p class="card-text">SETAS - Information and Communication Engineering Technology- ICET</p>
                    <a href="#" class="btn btn-primary">Take The Survey</a>
                  </div>
                <div class="card-footer text-muted">
                  2 days ago
                </div>
              </div>
        </div>
      </div>
      
  </div>
</div>
<!-- Content End -->


