<!-- 
Project: Career-Portfolio-MEAN-STACK    
Name: Dipeshpuri Goswami
Id: 300984229 
Date 29, March 2019 
-->

<!-- Content Start -->
<div class="wrapper">
  <div class="jumbotron jumbotron-fluid">
    <div class="main">
      <h1 class="display-4"><b>Dipesh Goswami</b></h1>
      <p class="lead">
        Hello, My name is Dipesh Goswami and I am a Full-Time Independent
        Freelance (Application | Web) Developer, who specializes in creating
        Dynamic and Responsive Web Pages / Applications. I graduated in 2017
        with a Master's Degree in Information Technology(Computer Applications).
        I have been in the field for nearly 2+ years and have been loving every
        minute of it. I am an Entrepreneur, Developer, Designer, Tester, and
        Overall Thinker.
      </p>

      <h4 class="display-5">Mission & Vision</h4>
      <!-- <p class="lead">I love everyone...</p> -->
      <div class="row">
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
                <h5 class="card-title">iDesign</h5>
                I believe graphic design is about more that just “being pretty” — It’s about using images, infographics, illustrations, charts, graphs and layouts to communicate ideas, and sell products or services. By utilizing graphic design and visual branding, companies accomplish organic engagement and build lasting relationship with clients.
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
                <h5 class="card-title">iDevelope</h5>
                My Coding Is a Thing of Beauty While you might never actually look at the coding that goes into your custom web development, you’ll appreciate the fact that it’s clean and professional. That means there won’t be messy glitches or crashes later, and that your apps can be grown or expanded along with your business.
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
                <h5 class="card-title">iDeliver</h5>
                I help you identify and communicate your brand’s uniqueness, differentiation and value. Maintaining brand consistency and integrity is one of the most common challenges brand managers and marketing branches face. Consistency is the ability to maintain a particular standard; in branding, it is about making elements uniformed.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Content End -->


