<!-- // Wep App - Black dot
// Description - BlackDot is to create surveys for the college and ask user to respond on in.

// Dipeshpuri Goswami - 300984229
// Sanket Vagadiya - 300991500
// Ishrat Vahora - 30098257
// Manthan Shah - 300990910 -->


<div class="container">
    <br />
    <br />
    <div class="card text-center">
  
      <div class="card-body">
        <h1 class="display-4">Thank you for your response.</h1>
        <hr class="my-4">
  
        <br />
        <p>Your response is successfully submitted.</p>
  
        <br />
        <a class="btn btn-outline-dark btn-lg" routerLink="/home" role="button">Try more Survey</a>
        <br />
      </div>
      <div class="card-footer text-muted">
        Powered by: B L A C K D O T
      </div>
    </div>
  </div>