<div class="wrapper">
  <div class="page_titile">
    <h3>Admin Dashboard</h3>
  </div>
  <div class="container">
    <h3>Create Survey</h3>
    <div class="row">
      <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="card">
          <h5 class="card-header">Free</h5>
          <div class="card-body">
            <h5 class="card-title">MCQ Survey Template</h5>
            <p class="card-text">Ask people about their experience base on Close-ended Questions.</p>
            <a href="/Survey1" class="btn btn-primary"> C R E A T E</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="card">
            <h5 class="card-header">Free</h5>
            <div class="card-body">
              <h5 class="card-title">Agree/Disagre Survey Template</h5>
              <p class="card-text">Ask people's opinion base on Quick poll Questions.</p>
              <a href="#" class="btn btn-primary">C R E A T E</a>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="card special-card">
              <h5 class="card-header">Featured</h5>
              <div class="card-body">
                <h5 class="card-title">Custom Survey Template</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary" >C R E A T E</a>
              </div>
            </div>
          </div>
    </div>
  </div>
</div>